<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <section class="homeSection">
        <div class="cards">
      <h2>Digital House</h2>
      <a class="Iniciar" href="/movies">Iniciar Proyecto</a>
    </div>
  </section>
  </body>
</html>
